{% extends 'layouts/base.html' %}
{% set is_homepage = True %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      Local plans explorer
    </h1>
    <p class="govuk-body-l">
      Check and modify collected local plans data
    </p>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <p class='govuk-body'>Welcome to the local plans explorer. This is a proof of concept service that allows you to check and modify collected local plans data.</p>
    <p class='govuk-body'>This experimental service could be withdrawn or unavailable without notice.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <ol class="govuk-list govuk-list--number">
      <li>We will use this data to seed a dataset of local plans on the <a href="https://www.planning.data.gov.uk/" class="govuk-link">planning data platform</a></li>
      <li>We will continue to develop a data standard based on what we learn from this exercise</li>
    </ol>

    <h2 class="govuk-heading-l">Get started</h2>

    {% if not config.AUTHENTICATION_ON or (config['AUTHENTICATION_ON'] and session["user"]) %}
      <a href="{{ url_for('local_plan.add') }}" class="govuk-button govuk-button--secondary"><span class="govuk-!-margin-right-1">✚ </span>Add new plan</a>
      <p class="govuk-body">or</p>
    {% else %}
      <a href="{{ url_for('auth.login') }}" class="govuk-button">Sign in to add a plan</a>
    {% endif %}
      <p class="govuk-body">
      <a href="{{ url_for('organisation.organisations') }}" class="govuk-link">Find by organisation</a>
  </p>

  </div>
</div>

<hr class="govuk-section-break--l">
{% endblock %}
