{% extends 'layouts/base.html' %}
{% set isHomepage = True %}

{% block mastHead %}
{{ super() }}
<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl app-masthead__title govuk-!-margin-bottom-2">
          Local plans explorer
        </h1>
        <p class="govuk-body-l govuk-!-margin-bottom-0 app-masthead__sub-title">
          Check and modify collected local plans data
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop'>
    <h1 class='govuk-heading-xl'>Index</h1>
    <p class='govuk-body'>Welcome to the local plans explorer. This is a proof of concept service that allows you to check and modify collected local plans data.</p>
    <p class='govuk-body'>This experimental service could be withdrawn or unavailable without notice.</p>
  </div>
</div>
{% endblock %}
