{% extends 'layouts/base.html' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">{%if estimated %}Estimated{% else %}Actual{% endif %} dates</span>
    <h1 class="govuk-heading-l">{{ event_category | capitalize }}</h1>
    {% if estimated %}
      <p class="govuk-body-s">You can use your Local Development Scheme to add dates to your timetable. For estimated dates, a month and year is a valid entry.</p>
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="govuk-form" method="POST">
      {{ form.hidden_tag() }}
      <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
           {{ form.draft_local_plan_published() }}
           {{ form.regulation_18_start() }}
           {{ form.regulation_18_end() }}
        </div>
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
                {{ form.consultation_covers.label }}
            </h1>
        </legend>
        {{ form.consultation_covers(class='govuk-input') }}
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
