{% extends 'layouts/base.html' %}

{% block pageStylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
{% endblock pageStylesheets %}

{% block content %}

<span class="govuk-caption-xl">Local plan: {{ plan.reference }}</span>
<h1 class="govuk-heading-xl">Area covered by this plan</h1>


    <form class="govuk-form" method="POST" action="{{url_for('local_plan.add_geography', reference=plan.reference)}}" enctype="multipart/form-data">

      {# if we have a geography then show on map and ask user to confirm #}
      {% if geographies|length and geography and geography_reference %}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Is the area shown correct?
            </h1>
          </legend>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {% set map_id = "map-" + random_int(5) %}
              <div class="app-map-wrapper">
                <div id="{{ map_id }}" style="height: 450px;"></div>
              </div>
              <script>
                const AppMap = {}
                AppMap.mapID = '{{map_id}}';
                AppMap.features = []
                AppMap.geography = {
                  'featureCollection': {{geography | tojson}},
                  'centrePoint': {
                    'lat': {{ coords["lat"] }},
                    'long': {{ coords["long"] }}
                  }
                }
                {% for geog in geographies %}
                  {% set geojson = geog | tojson %}
                  let features_{{loop.index}} = {{ geojson }}['features']
                  AppMap.features.push(...features_{{loop.index}})
                {% endfor %}
              </script>
            <!--{{ geographies }}-->

          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">Why are we showing this area?</h3>
            {% if plan.organisations|length == 1 %}
              {% if geographies %}
              <p class="govuk-body-s">This is the planning authority district for {{ plan.organisations[0].name }}</p>
              {% else %}
              <p class="govuk-body app-warning">We weren't able to find the planning authority district for {{ plan.organisations[0].name }}</p>
              {% endif %}
            {% elif plan.organisations|length > 1 %}
              {% if geographies %}
              <p class="govuk-body">We created this area by combining the planning authority districts for:</p>
              <ul class="govuk-list govuk-list--bullet">
                {% for geog in geographies %}
                <li>{{ geog['features'][0]['properties']['name'] }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% if missing_geographies %}
              <div class="app-warning">
                <p class="govuk-body">We couldn't find a geometry for:</p>
                <ul class="govuk-list govuk-list--bullet">
                  {%- for org in missing_geographies %}
                  <li>{{ org.name }}</li>
                  {% endfor -%}
                </ul>
              </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
          <div class="govuk-!-margin-top-6">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div id="geography-provided-hint" class="govuk-hint">
                Confirm the area is correct or skip and add one later
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="geography-provided" name="geography-provided" type="checkbox" value="geography-provided">
                <label class="govuk-label govuk-checkboxes__label" for="geography-provided">
                  Area is correct
                </label>
              </div>
            </div>

          </div>
        </fieldset>
      </div>
      {% else %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                We don't have any boundaries for the authoring planning authorities. Please provide one.
              </strong>
            </div>
          </div><!-- end .govuk-grid-column-two-thirds -->
        </div><!-- end .govuk-grid-row -->

      {% endif %}

      <div class="govuk-button-group">
        <button class="govuk-button" type="submit">Save and continue</button>
        <a class="govuk-link" href="{{ url_for('local_plan.get_plan', reference=plan.reference) }}">Skip for now</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  let map = L.map(AppMap.mapID).setView([AppMap.geography.centrePoint.lat, AppMap.geography.centrePoint.long], 6);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'OSM' }).addTo(map)
  var boundary_layer = L.geoJSON(AppMap.features, {}).addTo(map)
  const bbox = {{ bounding_box | tojson }}
  map.fitBounds([[bbox[1], bbox[0]], [bbox[3], bbox[2]]])
</script>
{% endblock pageScripts %}
