{% extends 'layouts/base.html' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-m">{%if estimated %}Estimated{% else %}Actual{% endif %} dates</span>
      <h1 class="govuk-heading-l">{{ event_category_title | capitalize }}</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="app-summary-card">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            {{ event.event_category.value }}
          </h2>
          <div class="app-summary-card__actions">
            {%- if not config.AUTHENTICATION_ON or session["user"] %}
              <a href="{{ edit_url }}" class="govuk-link">Edit<span class="govuk-visually-hidden"> plan</span></a>
            {%- endif %}
          </div>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Submit plan for examination
              </dt>
              <dd class="govuk-summary-list__value">
                {{ event.submit_plan_for_examination() }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Adoption of local plan
              </dt>
              <dd class="govuk-summary-list__value">
                {{ event.plan_adoption_date() }}
              </dd>
            </div>
          </dl>
        </div>
      </section>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="{{ url_for('local_plan.get_plan', reference=event.timetable.local_plan) }}" class="govuk-button govuk-button--primary">Close</a>
    </div>
  </div>

{% endblock content %}
