{% extends 'layouts/base.html' %}
{% import 'macros/timetable-form.html' as timetable_form %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">{%if estimated %}Estimated{% else %}Actual{% endif %} dates</span>
    <h1 class="govuk-heading-l">{{ event_category_title | capitalize }}</h1>
    {% if estimated %}
      <p class="govuk-body-m">
        With dates, some data is better than no data, so: 
        <ul class="govuk-list govuk-list--bullet">
          <li>2014 is fine</li>
          <li>03-2014 is better</li>
          <li>27-03-2014 is brilliant</li><br>
        </ul>
      </p>
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ timetable_form.render_form(form, plan, event_category, action_url, include_plan_published=include_plan_published) }}
  </div>
</div>

{% endblock %}
