{% extends 'layouts/base.html' %}


{% block content %}

<span class="govuk-caption-l">Local plan</span>
  <h1 class="govuk-heading-l">{{local_plan.name}}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="app-summary-card">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Local plan
          </h2>
          <div class="app-summary-card__actions">
            <a href="#" class="govuk-link">Edit<span class="govuk-visually-hidden"> plan</span></a>
          </div>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reference</dt>
              <dd class="govuk-summary-list__value">{{ local_plan.reference }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">{{ local_plan.name }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                {% for org in local_plan.organisations %}
                  <li>{{ org.name }}</li>
                {% endfor %}
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Documentation URL</dt>
              <dd class="govuk-summary-list__value"><a href="{{ local_plan.documentation_url }}" class="govuk-link">{{ local_plan.documentation_url }}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Period</dt>
              <dd class="govuk-summary-list__value">{{ local_plan.period_start_date }} - {{ local_plan.period_end_date }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Adopted date</dt>
              <dd class="govuk-summary-list__value">{{ local_plan.adopted_date if local_plan.adopted_date }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Description</dt>
              <dd class="govuk-summary-list__value">{{ local_plan.description if local_plan.description }}</dd>
            </div>
          </dl>
        </div>
      </section>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <section class="app-summary-card govuk-!-margin-top-6">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Plan boundary
          </h2>
          <div class="app-summary-card__actions">
            {%- if local_plan.local_plan_boundary_obj %}
            <a href="#" class="govuk-link">Edit<span class="govuk-visually-hidden"> boundary</span></a>
            {% else %}
            <a href="#" class="govuk-link">Add<span class="govuk-visually-hidden"> boundary</span></a>
            {% endif -%}
          </div>
        </header>
        <div class="app-summary-card__body">
        {%- if local_plan.local_plan_boundary_obj %}
          <!-- put map here -->
        {%- else %}
          <p class="govuk-hint govuk-!-margin-bottom-0">No boundary recorded for this plan</p>
        {% endif -%}
        </div>
      </section>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="documents" class="govuk-heading-m">Plan documents</h2>
      <p class="govuk-body">Record any plan documents. These can be documents that contain relevant policies, documents outlining activities or publication notices.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list app-document-list">
        {% for document in local_plan.documents %}
          {%- if document.end_date is none %}
          <li class="app-document-list__item">
            <div class="app-document-list__item__content">
              <a href="{{ document.document_url }}" class="govuk-link">{{ document.name }}</a>
              <br />
              <span class="govuk-!-font-size-14"><a href="{{ document.documentation_url }}" class="govuk-link">View documentation page</a></span>
            </div>
            <div class="app-document-list__item__actions">
              <a href="#" class="govuk-!-font-size-14 govuk-link app-link--destructive">Edit</a>
              <a href="#" class="govuk-!-font-size-14 govuk-link app-link--destructive">Delete</a>
            </div>
          </li>
          {% endif -%}
        {% endfor %}
      </ul>
    </div>
  </div>

  <a href="#" class="govuk-button govuk-button--secondary"><span class="govuk-!-margin-right-1">✚ </span> add document</a>

{% endblock content %}
