{% extends 'layouts/base-with-map.html' %}


{% block content %}

  <span class="govuk-caption-l">Local plan</span>
  <h1 class="govuk-heading-l">{{plan.name}}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="app-summary-card">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Local plan
          </h2>
          <div class="app-summary-card__actions">
            {%- if not config.AUTHENTICATION_ON or session["user"] %}
              <a href="{{ url_for('local_plan.edit', reference=plan.reference) }}" class="govuk-link">Edit<span class="govuk-visually-hidden"> plan</span></a>
            {%- endif %}
          </div>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reference</dt>
              <dd class="govuk-summary-list__value">{{ plan.reference }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">{{ plan.name }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                {% for org in plan.organisations %}
                  <li>{{ org.name }}</li>
                {% endfor %}
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Documentation URL</dt>
              <dd class="govuk-summary-list__value"><a href="{{ plan.documentation_url }}" class="govuk-link">{{ plan.documentation_url }}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Period</dt>
              <dd class="govuk-summary-list__value">
                {%- if plan.period_start_date %}{{ plan.period_start_date }}{% endif -%}
                {%- if plan.period_start_date and plan.period_end_date %} - {% endif -%}
                {%- if plan.period_end_date %}{{ plan.period_end_date }}{% endif -%}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Adopted date</dt>
              <dd class="govuk-summary-list__value">{{ plan.adopted_date if plan.adopted_date }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Description</dt>
              <dd class="govuk-summary-list__value">{{ plan.description if plan.description }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">LDS published date</dt>
              <dd class="govuk-summary-list__value">{{ plan.lds_published_date if plan.lds_published_date }}</dd>
            </div>
          </dl>
        </div>
        <div class="app-summary-card__footer">
          <p class="govuk-body">Status</p>
          <span class="govuk-tag govuk-tag--{{plan.status | status_colour }}">{{plan.status.value}}</span>
        </div>
      </section>
    </div>
    {% if plan.status.name != "NOT_FOR_PLATFORM" %}
      <div class="govuk-grid-column-one-third">
        <div class="app-related-items" role="complementary">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0" id="view-the-data">
            Linked data
          </h2>
          <p class="govuk-hint govuk-!-font-size-14">You can view and add linked data to this plan</p>
          <nav role="navigation" aria-labelledby="view-the-data">
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a class="govuk-link" href="#timetable">Timetable events</a>
              </li>
              <li>
                <a class="govuk-link" href="#documents">Associated documents</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    {% endif %}
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  {% if plan.status.name != "NOT_FOR_PLATFORM" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="timetable" class="govuk-heading-m">Timetable</h2>
      <p class="govuk-body">This data should be a collection of events that happen during the plan-making process. You can record events that have already happened or might happen on a future date.</p>
      <p class="govuk-body">This data can be used to create a timetable for the plan.</p>
    </div>
  </div>


  <table class="govuk-table app-timetable app-table--sortable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Event</th>
        <th scope="col" class="govuk-table__header" data-sort="none">Event date</th>
        <th scope="col" class="govuk-table__header">Organisation</th>
        <th scope="col" class="govuk-table__header app-cell--meta app-cell--actions"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for event in events %}
      <tr class="govuk-table__row" data-timetable-entry-reference="{{ event.reference }}" data-timetable-entry-plan="{{ event.timetable.reference }}">
        <td scope="row" class="govuk-table__header">{{ event.local_plan_event_type.name }}</td>
        <td class="govuk-table__cell">{{ event.event_date }}</td>
        <td class="govuk-table__cell">{% for org in event.timetable.local_plan_obj.organisations %}{{ org.name }}{{ ', ' if not loop.last }}{% endfor %}</td>
        <td class="govuk-table__cell app-cell--meta app-cell--actions">
          <ul class="govuk-list govuk-!-margin-bottom-0 govuk-!-font-size-16">
            <li><a href="{{ url_for('timetable.edit_event', local_plan_reference=plan.reference, timetable_reference=event.timetable.reference, event_reference=event.reference) }}">Edit</a></li>
            <li><a href="{{ url_for('timetable.delete_event', local_plan_reference=plan.reference, timetable_reference=event.timetable.reference, event_reference=event.reference) }}" class="govuk-link govuk-link--destructive js-delete-event"
                data-event-reference="{{ event.reference }}"
                data-timetable-reference="{{ event.timetable.reference }}"
                data-plan-reference="{{ plan.reference }}">Delete</a></li>
          </ul>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if plan.timetable %}
    {% set add_url = url_for('timetable.add_event', local_plan_reference=plan.reference, timetable_reference=plan.timetable.reference)%}
  {% else %}
    {% set add_url = url_for('timetable.new_timetable_and_event', local_plan_reference=plan.reference)%}
  {% endif %}
  <a href="{{ add_url }}" class="govuk-button govuk-button--secondary"><span class="govuk-!-margin-right-1">✚ </span> Add event</a>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% for document in plan.documents %}
          <section class="app-summary-card">
            <header class="app-summary-card__header">
              <h2 class="app-summary-card__title">
                Document
              </h2>
              <div class="app-summary-card__actions">
                {%- if not config.AUTHENTICATION_ON or session["user"] %}
                  <a href="{{ url_for('document.edit', local_plan_reference=plan.reference, reference=document.reference) }}" class="govuk-link">Edit<span class="govuk-visually-hidden"> document</span></a>
                {% endif %}
              </div>
            </header>
            <div class="app-summary-card__body">
              <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Reference</dt>
                  <dd class="govuk-summary-list__value"><a href="{{ url_for('document.get_document', local_plan_reference=plan.reference, reference=document.reference ) }}">{{ document.reference }}</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Name</dt>
                  <dd class="govuk-summary-list__value">{{ document.name }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Organisation</dt>
                  <dd class="govuk-summary-list__value">
                    <ul class="govuk-list">
                    {% for org in document.organisations %}
                      <li>{{ org.name }}</li>
                    {% endfor %}
                    </ul>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Documentation URL</dt>
                  <dd class="govuk-summary-list__value"><a href="{{ document.documentation_url }}" class="govuk-link">{{ document.documentation_url }}</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Document URL</dt>
                  <dd class="govuk-summary-list__value"><a href="{{ document.document_url }}" class="govuk-link">{{ document.document_url }}</a></dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Description</dt>
                  <dd class="govuk-summary-list__value">{{ document.description if document.description }}</dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">Document types</dt>
                  <dd class="govuk-summary-list__value">
                    {% if document.document_types %}
                      {% for document_type in document.get_document_types() %}{{ document_type.name }}{{ ", " if not loop.last }}{% endfor %}
                    {% endif %}
                  </dd>
                </div>
              </dl>
            </div>
            <div class="app-summary-card__footer">
              <p class="govuk-body">Status</p>
              <span class="govuk-tag govuk-tag--{{document.status | status_colour }}">{{document.status.value}}</span>
              {% if document.status.name == "FOR_PUBLICATION" and plan.status.name != "FOR_PUBLICATION" and plan.status.name != "PUBLISHED" %}
                <p class="govuk-hint govuk-!-font-size-14">Note: This document will only be published when the local plan is also selected for publication</p>
              {% endif %}
            </div>
          </section>
        {% endfor %}
        {%- if not config.AUTHENTICATION_ON or session["user"] %}
          <a href="{{ url_for('document.add', local_plan_reference=plan.reference) }}" class="govuk-button govuk-button--secondary">
            <span class="govuk-!-margin-right-1">✚ </span> add document</a>
        {%- endif %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="app-summary-list" role="complementary">
          <h2 id="documents" class="govuk-heading-s govuk-!-margin-bottom-0">
            Documents
          </h2>
          <p class="govuk-hint govuk-!-font-size-14">You can check/edit documents that are marked as for review.</p>
          <p class="govuk-hint govuk-!-font-size-14">Documents that you update to "For publication" will be published if/when the local plan above is also selected for publication.</p>
          <p class="govuk-hint govuk-!-font-size-14">The document records will be exported to the local-plan-document.csv.</p>
          <ul class="govuk-list govuk-!-font-size-16">
            {% for status, count in document_counts.items() %}
              <li>{{ status }}: {{ count }}</li>
            {% endfor %}
          </ul>
      </div>
    </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <section class="app-summary-card govuk-!-margin-top-6">
          <header class="app-summary-card__header">
            <h2 class="app-summary-card__title">
              Plan boundary
            </h2>
            <div class="app-summary-card__actions">
                {%- if not config.AUTHENTICATION_ON or session["user"] %}
                  {%- if geography %}
                    <a href="{{ url_for('boundary.edit', local_plan_reference=plan.reference, reference=plan.boundary.reference) }}" class="govuk-link">Edit<span class="govuk-visually-hidden"> boundary</span></a>
                  {% else %}
                    <a href="{{ url_for('boundary.add', local_plan_reference=plan.reference) }}" class="govuk-link">Add<span class="govuk-visually-hidden"> boundary</span></a>
                  {% endif -%}
              {%- endif -%}
            </div>
          </header>
          <div class="app-summary-card__body">
          {%- if geography %}
              {%- set map_id = "map-" + geography["reference"] %}
              <p class="govuk-hint govuk-!-margin-top-0">Reference: {{ geography["reference"] }}</p>
              <div class="app-map-wrapper">
                <div id="{{ map_id }}" style="height: 400px;">
              </div>
              <script>
                const AppMap = {}
                AppMap.mapID = '{{map_id}}';
                AppMap.geography = {
                  'featureCollection': {{ geography["features"] | tojson }},
                  'centrePoint': {
                    'lat':  {{ geography['coords']['lat'] }},
                    'long': {{ geography['coords']['long'] }}
                  }
                }
              </script>
          {%- else %}
            <p class="govuk-hint govuk-!-margin-bottom-0">No boundary recorded for this plan</p>
          {% endif -%}
          </div>
          <div class="app-summary-card__footer">
            <p class="govuk-body">Status</p>
            <span class="govuk-tag govuk-tag--{{plan.boundary_status | status_colour }}">{{plan.boundary_status .value}}</span>
            {% if plan.boundary_status.name == "FOR_PUBLICATION" and plan.status.name != "FOR_PUBLICATION"  and plan.status.name != "PUBLISHED"%}
              <p class="govuk-hint govuk-!-font-size-14">Note: This boundary will only be published when the local plan is also selected for publication</p>
            {% endif %}
          </div>
        </div>
        </section>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>
    </div>
{% endif %}
{% endblock content %}

{% block digitalLandScripts -%}
  {{ super() }}
  <script src="{{ assetPath | default('/static') }}/javascripts/table.js"></script>
  <script src="{{ assetPath | default('/static') }}/javascripts/timetable.js"></script>
{%- endblock %}

{% block pageScripts %}
  {% if geography and plan.status.name != "NOT_FOR_PLATFORM" %} %}
    <script>

      function onEachFeature(feature, layer) {
        if (feature.properties) {
          let popupContent = '';
          for (let prop in feature.properties) {
            popupContent += `<b>${prop}:</b> ${feature.properties[prop]}<br>`;
          }

          layer.bindTooltip(popupContent, {
            sticky: true, // Tooltip follows the cursor when hovering
            opacity: 0.9
          });
          layer.bindPopup(popupContent);
      }
    }

      let map = L.map(AppMap.mapID).setView([AppMap.geography.centrePoint.lat, AppMap.geography.centrePoint.long], 6);
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { attribution: 'OSM' }).addTo(map)
      var boundary_layer = L.geoJSON(AppMap.geography.featureCollection, {onEachFeature: onEachFeature}).addTo(map)
      const bbox = {{ bounding_box | tojson }}
      map.fitBounds([[bbox[1], bbox[0]], [bbox[3], bbox[2]]])

    </script>
  {% endif %}
{% endblock pageScripts %}
