{% extends 'layouts/base.html' %}
{% import 'macros/timetable-form.html' as timetable_form %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">{%if estimated %}Estimated{% else %}Actual{% endif %} dates</span>
    <h1 class="govuk-heading-l">{{ event_category_title | capitalize }}</h1>
    {% if estimated %}
      <p class="govuk-body-s">You can use your Local Development Scheme to add dates to your timetable. For estimated dates, a month and year is a valid entry.</p>
    {% endif %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ timetable_form.render_form(form, plan, event_category, action_url, include_draft_plan_published=include_draft_plan_published) }}
  </div>
</div>

{% endblock %}
