{% extends 'layouts/base.html' %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-m">{%if estimated %}Estimated{% else %}Actual{% endif %} dates</span>
    <h1 class="govuk-heading-l">{{ event_category_title | capitalize }}</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% for event in events %}
    <section class="app-summary-card">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            {{ event.event_category.value }}
          </h2>
          <div class="app-summary-card__actions">
            {%- if not config.AUTHENTICATION_ON or session["user"] %}
              <a href="{{ url_for('local_plan.edit_timetable_event', reference=plan, timetable_reference=timetable.reference, event_reference=event.reference) }}" class="govuk-link">Edit<span class="govuk-visually-hidden"> plan</span></a>
            {%- endif %}
          </div>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            {% if event.plan_published() %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ event.plan_published_text()  }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ event.plan_published() }}
                </dd>
              </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Consultation period
              </dt>
              <dd class="govuk-summary-list__value">
                {{ event.consultation_start() }} - {{ event.consultation_end() }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What does the consultation cover?
              </dt>
              <dd class="govuk-summary-list__value">
                {% if event.event_data.notes %}{{ event.event_data.notes }}{% endif %}
              </dd>
            </div>
          </dl>
        </div>
    </section>
  {% endfor %}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-button-group">
      <a href="{{ url_for('local_plan.add_event_to_timetable', reference=timetable.local_plan, timetable_reference=timetable.reference, event_category=event_category) }}" class="govuk-button govuk-button--secondary">Add another</a>
    </div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-button-group">
      {% if continue_url %}
        <a href="{{ continue_url }}" class="govuk-button">Continue</a>
      {% endif %}
      <a href="{{ url_for('local_plan.get_plan', reference=plan) }}" class="govuk-button govuk-button--secondary">Close</a>
    </div>
  </div>
</div>

{% endblock content %}
