{% extends 'digital-land-frontend/layouts/base.jinja' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/stylesheets/application.css">
  <link rel="stylesheet" href="/static/stylesheets/vendor/accessible-autocomplete.css">
  {% block pageStylesheets %}{% endblock pageStylesheets %}
{% endblock %}

{% block mastHead %}
  <header class="govuk-header " role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="{{ url_for('main.index') }}" class="govuk-header__link app-header__link">
        <span class="govuk-!-font-size-24 govuk-!-font-weight-bold">Local plans</span>
        <span class="govuk-header__product-name govuk-!-font-size-16">Local plans data explorer</span>
      </a>
    </div>
    <div class="govuk-header__content">
      <nav aria-label="Menu" class="govuk-header__navigation govuk-header__navigation--end">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" hidden>Menu</button>
        <ul id="navigation" class="govuk-header__navigation-list">
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="{{ url_for('organisation.organisations') }}">Find by organisation</a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="{{ url_for('local_plan.archived_plans') }}">Archived plans</a>
          </li>
          <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="{{ url_for('main.stats') }}">
              Stats
            </a>
          </li>
          {% if config['AUTHENTICATION_ON'] %}
          <li class="govuk-header__navigation-item">
            {% if session["user"] %}
            <a class="govuk-header__link" href="{{ url_for('auth.logout') }}">
              Sign out
            </a>
            {% else %}
            <a class="govuk-header__link" href="{{ url_for('auth.login', next=request.path, _external=True) }}">
              Sign in
            </a>
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</header>
{% endblock mastHead %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      research tool
    </strong>
    <span class="govuk-phase-banner__text">
      This is a research tool. Your <a class="govuk-link" href="mailto:digitalland@levellingup.gov.uk?subject=Prototype feedback">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% if not is_homepage %}
  {{ govukBreadcrumbs(breadcrumbs | default({
  'items': [
    {
      'text': "Home",
      'href': "/"
    }
  ]
  })) }}
{% endif %}
{% endblock beforeContent %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title|default('Index') }}</h1>
{% endblock content %}

{% block govScripts %}
  {{ super() }}
  <script src="{{ assetPath | default('/static') }}/javascripts/vendor/accessible-autocomplete.min.js"></script>
{% endblock %}

{% block digitalLandScripts -%}
  {{ super() }}
  <script src="{{ assetPath | default('/static') }}/javascripts/application.js"></script>
{%- endblock %}
