{% macro render_form(form, plan, event_category, action_url, include_plan_published=False, skip_url=None, skip_text="") -%}

  {% if form.errors %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There was a problem
        </h2>
        <div class="govuk-error-summary__body">
            {{ form.get_error_summary() }}
        </div>
      </div>
    </div>
  {% endif %}

  <form class="govuk-form" method="POST" action="{{ action_url }}">
    {{ form.hidden_tag() }}
    <fieldset class="govuk-fieldset">
      {% if event_category.name == "ESTIMATED_REGULATION_18" %}
        <div class="govuk-form-group">
          {% if include_plan_published %}
            {{ form.estimated_reg_18_draft_local_plan_published() }}
          {% endif %}
          {{ form.estimated_reg_18_public_consultation_start() }}
          {{ form.estimated_reg_18_public_consultation_end() }}
        </div>
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
                {{ form.notes.label }}
            </h1>
        </legend>
        {{ form.notes(class='govuk-input') }}
        </div>
      {% elif event_category.name == "ESTIMATED_REGULATION_19" %}
        <div class="govuk-form-group">
          {% if include_plan_published %}
            {{ form.estimated_reg_19_publication_local_plan_published() }}
          {% endif %}
          {{ form.estimated_reg_19_public_consultation_start() }}
          {{ form.estimated_reg_19_public_consultation_end() }}
        </div>
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <h1 class="govuk-fieldset__heading">
                {{ form.notes.label }}
            </h1>
        </legend>
        {{ form.notes(class='govuk-input') }}
        </div>
        {% elif event_category.name == "REGULATION_18" %}
          <div class="govuk-form-group">
            {% if include_plan_published %}
              {{ form.reg_18_draft_local_plan_published() }}
            {% endif %}
            {{ form.reg_18_public_consultation_start() }}
            {{ form.reg_18_public_consultation_end() }}
          </div>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                  {{ form.notes.label }}
              </h1>
          </legend>
          {{ form.notes(class='govuk-input') }}
          </div>
        {% elif event_category.name == "REGULATION_18" %}
          <div class="govuk-form-group">
            {% if include_plan_published %}
              {{ form.reg_18_draft_local_plan_published() }}
            {% endif %}
            {{ form.reg_18_public_consultation_start() }}
            {{ form.reg_18_public_consultation_end() }}
          </div>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                  {{ form.notes.label }}
              </h1>
          </legend>
          {{ form.notes(class='govuk-input') }}
          </div>
        {% elif event_category.name == "REGULATION_19" %}
          <div class="govuk-form-group">
            {% if include_plan_published %}
              {{ form.reg_19_publication_local_plan_published() }}
            {% endif %}
            {{ form.reg_19_public_consultation_start() }}
            {{ form.reg_19_public_consultation_end() }}
          </div>
          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                  {{ form.notes.label }}
              </h1>
          </legend>
          {{ form.notes(class='govuk-input') }}
          </div>
      {% elif event_category.name == "ESTIMATED_EXAMINATION_AND_ADOPTION" %}
        <div class="govuk-form-group">
          {{ form.estimated_submit_plan_for_examination() }}
          {{ form.estimated_plan_adoption_date() }}
        </div>
      {% elif event_category.name == "PLANNING_INSPECTORATE_EXAMINATION" %}
        <div class="govuk-form-group">
          {{ form.submit_plan_for_examination() }}
          {{ form.planning_inspectorate_examination_start()}}
          {{ form.planning_inspectorate_examination_end() }}
        </div>
      {% elif event_category.name == "PLANNING_INSPECTORATE_FINDINGS" %}
        <div class="govuk-form-group">
          {{ form.planning_inspectorate_found_sound() }}
          {{ form.inspector_report_published()}}
        </div>
      {% endif %}
      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>
        <a href="{{ url_for('local_plan.get_plan', reference=plan.reference ) }}" class="govuk-button govuk-button--secondary">Cancel</a>
          <a class="govuk-link" href="{{ skip_url }}">{{skip_text}}</a>

      </div>



    </fieldset>
  </form>
{%-  endmacro %}
