digital_land_frontend @ git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
Flask~=3.1
gunicorn~=23.0
python-dotenv~=1.0
psycopg2-binary~=2.9
Flask-SQLAlchemy~=3.1
Flask-Migrate~=4.0
requests~=2.32
alembic-postgresql-enum~=1.3
Flask-WTF~=1.2
python-slugify~=8.0
shapely~=2.0
geopandas~=1.0
flask-sslify~=0.1.5
is-safe-url~=1.0
flask-talisman~=1.1
Authlib~=1.3
PyGithub~=2.5
pydantic~=2.9
geojson~=3.1
sentry-sdk[flask]~=2.18
beautifulsoup4~=4.12
thefuzz~=0.22.1
