{% extends 'layouts/base.html' %}

{% block content %}

<h1 class="govuk-heading-l">Local plan document for {{plan.name}}</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <section class="app-summary-card">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            Document
          </h2>
          <div class="app-summary-card__actions">
            {%- if not config.AUTHENTICATION_ON or session["user"] %}
              <a href="{{ url_for('document.edit', local_plan_reference=plan.reference, reference=document.reference) }}" class="govuk-link">Edit<span class="govuk-visually-hidden"> document</span></a>
            {% endif %}
          </div>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list govuk-!-margin-bottom-0">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Reference</dt>
              <dd class="govuk-summary-list__value">{{ document.reference }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Name</dt>
              <dd class="govuk-summary-list__value">{{ document.name }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Local plan</dt>
              <dd class="govuk-summary-list__value"><a href="{{ url_for('local_plan.get_plan', reference=plan.reference) }}">{{ plan.reference }}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Organisation</dt>
              <dd class="govuk-summary-list__value">
                <ul class="govuk-list">
                {% for org in document.organisations %}
                  <li>{{ org.name }}</li>
                {% endfor %}
                </ul>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Documentation URL</dt>
              <dd class="govuk-summary-list__value"><a href="{{ document.documentation_url }}" class="govuk-link">{{ document.documentation_url }}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Document URL</dt>
              <dd class="govuk-summary-list__value"><a href="{{ document.document_url }}" class="govuk-link">{{ document.document_url }}</a></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Description</dt>
              <dd class="govuk-summary-list__value">{{ document.description if document.description }}</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Document types</dt>
              <dd class="govuk-summary-list__value">{{ document.document_types if document.document_types }}</dd>
            </div>
          </dl>
        </div>
        <div class="app-summary-card__footer">
          <p class="govuk-body">Status</p>
          <span class="govuk-tag govuk-tag--{{document.status | status_colour }}">{{document.status.value}}</span>
        </div>
      </section>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0" id="view-the-data">
        Related
      </h2>
      <nav role="navigation" aria-labelledby="view-the-data">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="{{ url_for('local_plan.get_plan', reference=plan.reference) }}">Return to plan record</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</div>


{% endblock %}
