
{% extends 'layouts/base.html' %}

{% block content %}

<span class="govuk-caption-l">Local plans</span>
<h1 class="govuk-heading-l">Edit document record</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form class="govuk-form" method="POST" action="{{ url_for('document.edit', local_plan_reference=plan.reference, reference=document.reference) }}">
    {{ form.hidden_tag() }}

        <div class="govuk-form-group">
          <label for="#" class="govuk-label">Reference</label>
          <div class="govuk-body govuk-!-font-weight-bold">{{ document.reference }}</div>
        </div>

        {% for field in form %}
        {# the fields listed are either not shown or handled individually #}
        {%- if field.name not in ['status', 'csrf_token'] %}
          {%- if field.name == 'organisations' %}
            <div class="app-organisation-select" data-module="multi-select">
              <div class="govuk-form-group" data-multi-select="form-group">
                {{ field.label(class='govuk-label') }}
                {{ field(class='govuk-input') }}
              </div>
              <div class="app-hidden">
                <select name="organisation_select" id="organisation_select" data-multi-select="select">
                  {% for organisation in field.choices %}
                  <option value="{{ organisation[0] }}">{{ organisation[1] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {%- elif field.name == 'document_types' %}
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="document-types-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">
                    What type document is this?
                  </h2>
                </legend>
                <div id="document-types-hint" class="govuk-hint">
                  Select all that apply.
                </div>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  {% for choice in field %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="{{ choice.id }}" name="{{ choice.name }}" type="checkbox" value="{{ choice.data }}" {% if choice.checked %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="{{ choice.id }}">
                      {{ choice.label }}
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </fieldset>
            </div>
          {% else %}
          <div class="govuk-form-group">
            {{ field.label(class='govuk-label') }}
            {% if field.type == "TextAreaField" %}
            {{ field(class='govuk-textarea') }}
            {% else %}
            {{ field(class='govuk-input') }}
            {% endif %}
            {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
          {% endif %}{# end if organisation field #}
        {% endif -%}
        {% endfor %}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-form-group">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                Status
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">

              {% for choice in form.status.choices %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{ choice[0] }}" name="status" type="radio" value="{{ choice[0] }}" {% if choice[0] == document.status.name %} checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="{{ choice[0] }}">
                    {{ choice[1] }}
                  </label>
                </div>
              {% endfor %}
              </div>
            </fieldset>
          </div>
        </div>
        <div class="govuk-button-group">
        <button class="govuk-button" type="submit">Edit record</button>
        <a class="govuk-link" href="{{ url_for('local_plan.get_plan', reference=plan.reference) }}">Cancel</a>
    </div>
  </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script>
    const $multiSelectModule = document.querySelector('[data-module="multi-select"]')
    const multiSelectModule = new dptp.MultiSelect($multiSelectModule).init()
  </script>
{% endblock pageScripts %}
