// import all digital land and GOVUK Frontend scss
$app-images-path: "/static/images/";
$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "digital-land-frontend/dl-frontend";


// local settings
@import "settings/all";

// 3rd party components
@import "components/moj-timeline";

// components
@import "components/applied-filters";
@import "components/content-list";
@import "components/dataset-card";
@import "components/masthead";
@import "components/govuk-button--link";
@import "components/question-set";
@import "components/report-bar";
@import "components/subnavigation";
@import "components/stats";
@import "components/header";


.js-hidden {
  display: none !important;
}

.app-hidden {
  display: none
}

.js-enabled {
  .app-hide-if-js {
    display: none
  }
}
