
{% extends 'layouts/base-with-map.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if form.errors %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There was a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for field, messages in form.errors.items() %}
              <li>
                {% for message in messages %}
                  <a href="#{{field}}">{{message}}</a>
                {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    <form class="govuk-form" method="POST" action="{{ url_for('boundary.edit', local_plan_reference=plan.reference, reference=boundary.reference) }}">
    {{ form.hidden_tag() }}
        <div class="govuk-form-group">
          <label for="#" class="govuk-label">Reference</label>
          <div class="govuk-body govuk-!-font-weight-bold">{{ boundary.reference }}</div>
          <span class="govuk-tag govuk-tag--{{plan.boundary_status | status_colour }}">{{plan.boundary_status.value}}</span>
        </div>

        {% for field in form %}
        {# the fields listed are either not shown or handled individually #}
        {%- if field.name not in ['status', 'csrf_token'] %}
          {%- if field.name == 'organisations' %}
            <div class="app-organisation-select" data-module="multi-select">
              <div class="govuk-form-group" data-multi-select="form-group">
                {{ field.label(class='govuk-label') }}
                {{ field(class='govuk-input') }}
              </div>
              <div class="app-hidden">
                <select name="organisation_select" id="organisation_select" data-multi-select="select">
                  {% for organisation in field.choices %}
                  <option value="{{ organisation[0] }}">{{ organisation[1] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {%- elif field.name == 'geojson' %}
          <div class="govuk-form-group">
            {{ field.label(class='govuk-label') }}
            <textarea name="geojson" id="geojson" class="govuk-textarea" rows="15">
              {{ form.geojson.data | tojson}}
            </textarea>
            {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          {% else %}
          <div class="govuk-form-group">
            {{ field.label(class='govuk-label') }}
            {% if field.type == "TextAreaField" %}
            {{ field(class='govuk-textarea') }}
            {% else %}
            {{ field(class='govuk-input') }}
            {% endif %}
            {% if field.errors %}
              <ul>
              {% for error in field.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
          {% endif %}{# end if organisation field #}
        {% endif -%}
        {% endfor %}

        <div class="govuk-form-group {% if form.status.errors %}govuk-form-group--error{% endif %}" id="status">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              Status
            </legend>
            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
            {% for choice in form.status.choices %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="{{ choice[0] }}" name="status" type="radio" value="{{ choice[0] }}" {% if choice[0] == plan.boundary_status.name %} checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="{{ choice[0] }}">
                  {{ choice[1] }}
                </label>
              </div>
            {% endfor %}
            </div>
          </fieldset>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-button-group">
        <button class="govuk-button" type="submit">Save</button>
        <a class="govuk-link" href="{{ url_for('local_plan.get_plan', reference=plan.reference) }}">Cancel</a>
    </div>
  </form>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script>
    const $multiSelectModule = document.querySelector('[data-module="multi-select"]')
    const multiSelectModule = new dptp.MultiSelect($multiSelectModule).init()
  </script>
{% endblock pageScripts %}
